# Operations

Lets work through some operations in pandas that do not naturally fit into prior modules

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'Trade':[1,2,3,4],'GDP':[16,13,7,7],'Country':['US','CHN','IND','GER']})
df.head()

### Info on Unique Values

In [ ]:
df['GDP'].unique()

In [ ]:
df['GDP'].nunique()

In [ ]:
df['GDP'].value_counts()

### Selecting Data

In [ ]:
#Select from DataFrame using criteria from multiple columns
df1 = df[(df['Trade']>0) & (df['GDP']==16)]

In [ ]:
df1

### Applying Functions

In [ ]:
def times2(x):
    return x*2

In [ ]:
df['Trade'].apply(times2)

In [ ]:
df['Country'].apply(len)

In [ ]:
df['Trade'].sum()

** Permanently Removing a Column**

In [ ]:
del df['Trade']

In [ ]:
df

** Get column and index names: **

In [ ]:
df.columns

In [ ]:
df.index

** Sorting and Ordering a DataFrame:**

In [ ]:
df

In [ ]:
df.sort_values(by='GDP') #inplace=False by default

** Find Null Values or Check for Null Values**

In [ ]:
df.isnull()

In [ ]:
# Drop rows with NaN Values
df.dropna()

** Filling in NaN values with something else: **

In [ ]:
import numpy as np

In [ ]:
import pandas as pd
df = pd.DataFrame({'Trade':[1,2,3,4],'GDP':[16,np.NaN,7,7],'Country':['US','CHN',np.NaN,'GER']})
df.head()

In [ ]:
df.fillna('FILL')